<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <!-- Notice to turn redshift off and on again after changing settings -->
        <setting label="30011" type="lsep" />
        <setting label="" type="lsep" />

        <!-- General settings -->
        <setting label="30008" id="latitude"  type="text" default="48.1" />
        <setting label="30009" id="longitude" type="text" default="11.6" />

        <setting label="30010" id="transition" type="bool" default="true" />

        <!-- Day settings -->
        <setting label="30001" type="lsep" />
        <setting label="30004" id="day.temperature" type="text" default="5700K"/>
        <setting label="30003" id="day.brightness" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        <!--
        <setting label="30005" id="day.gamma.r" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        <setting label="30006" id="day.gamma.g" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        <setting label="30007" id="day.gamma.b" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        -->

        <!-- Night settings -->
        <setting label="30002" type="lsep" />
        <setting label="30004" id="night.temperature" type="text" default="3500K"/>
        <setting label="30003" id="night.brightness" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        <!--
        <setting label="30005" id="night.gamma.r" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        <setting label="30006" id="night.gamma.g" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        <setting label="30007" id="night.gamma.b" type="slider" option="float" range="0,0.025,1.0" default="1.0" />
        -->
    </category>
</settings>
